%nav
  %span.title
    = link_to "<strong>Community</strong> @ Mendicant University".html_safe,
      root_path
  = render :partial => "shared/flash", :locals => { :flash => flash }
  %span.nav
    = link_to "Updates", articles_path
    - if current_user
      = link_to "Activities", activities_path
      = link_to "Unicorns", page_path("unicorns")
    - else
      = link_to "About", about_path
    %a.search-hover= "Search" 
    %span#account
      - if current_user
        = link_to current_user.name, person_path(current_user.github)
        = link_to "Sign out", logout_path
      - else
        = link_to "Sign in with Github", login_path
#search-nav
  %form{:action => "/search", :method => "GET"}
    %input{:type => "text", :name => "query", :class => "query"}
    %input{:type => "submit", :id => "submit", :class => "hidden"}
  %button.close= "X"
